<div class="wrap">
	<div class="icon32">
		<img src="{{ icon }}"/>
	</div>

	<h1>{{ title }}</h1>

	{% if message %}
	<div id="{{ message_id }}" class="{{ message_type }} fade">
		<p>{{ message_text }}</p>
	</div>
	{% endif %}

	<form enctype="multipar/form-data" method="post" action="{{ form_url }}">
		<div>
			<table class="form-table">
				{% for option in options %}
				<tr>
					<th scope="row">
						<label for="option-{{ key }}">{{ label }}</label>
					</th>
					<td>
						{% if is_bool %}
						{% if value %}
						<input type="checkbox" id="option-{{ key }}" name="option-{{ key }}" checked="checked"/>
						{% else %}
						<input type="checkbox" id="option-{{ key }}" name="option-{{ key }}"/>
						{% endif %}
						{% endif %}

						{% if is_number %}
						<input type="number" id="option-{{ key }}" name="option-{{ key }}" value="{{ value }}"/>
						{% endif %}

						{% if is_string %}
						<input type="text" class="regular-text" id="option-{{ key }}" name="option-{{ key }}" value="{{ value }}"/>
						{% endif %}

						{% if description %}
						<p id="{{ key }}-description" class="description">{{ description }}</p>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>
			<input type="submit" class="button button-primary" value="Saves Changes" name="submit"/>
		</div>
	</form>

</div>